OsmiSemestarProj/src/main/resources/wsdl/nalogZaPrenos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="NalogZaPrenosServis"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nzp="http://xml.poslovna.bezbednost/NalogZaPrenos"
	targetNamespace="http://xml.poslovna.bezbednost/NalogZaPrenos">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.poslovna.bezbednost/NalogZaPrenos"
			xmlns:nzp="http://xml.poslovna.bezbednost/NalogZaPrenos">

			<xs:element name="NalogZaPrenosRequest" type="nzp:NalogZaPrenosRequest" />
			<xs:element name="NalogZaPrenosResponse" type="nzp:NalogZaPrenosResponse" />

			<xs:simpleType name="TID_poruke">
				<xs:restriction base="xs:string">
					<xs:maxLength value="50" />
					<xs:minLength value="1" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="TPodaci_o_racunu">
				<xs:sequence>
					<xs:element name="Racun" type="nzp:TBroj_racuna" />
					<xs:element name="Model">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="1" />
								<xs:maxInclusive value="99" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Poziv_na_broj">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="TIznos">
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="15" />
					<xs:fractionDigits value="2" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TOznaka_valute">
				<xs:restriction base="xs:string">
					<xs:maxLength value="3" />
					<xs:minLength value="3" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="TUcesnik">
				<xs:sequence>
					<xs:element name="Lice" type="nzp:TPravno_lice" />
					<xs:element name="newElement" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="TOpis">
				<xs:restriction base="xs:string">
					<xs:maxLength value="255" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="TPravno_lice">
				<xs:sequence>
					<xs:element name="Naziv">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Adresa">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PIB">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="11" />
								<xs:minLength value="11" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="TBroj_racuna">
				<xs:restriction base="xs:string">
					<xs:pattern value="\d{3}-\d{13}-\d{2}" />
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="NalogZaPrenosRequest">
				<xs:sequence>
					<xs:element name="ID_poruke" type="nzp:TID_poruke" />
					<xs:element name="Duznik" type="nzp:TOpis" />
					<xs:element name="Svrha_placanja" type="nzp:TOpis" />
					<xs:element name="Primalac" type="nzp:TOpis" />
					<xs:element name="Datum_naloga" type="xs:date" />
					<xs:element name="Datum_valute" type="xs:date" />
					<xs:element name="Duznik_racun" type="nzp:TPodaci_o_racunu" />
					<xs:element name="Poverilac_racun" type="nzp:TPodaci_o_racunu" />
					<xs:element name="Iznos" type="nzp:TIznos" />
					<xs:element name="Oznaka_valute" type="nzp:TOznaka_valute" />
					<xs:element name="Hitno" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="NalogZaPrenosResponse">
				<xs:sequence>
					<xs:element name="odgovor" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="NalogZaPrenosRequest">
		<wsdl:part name="parameters" element="nzp:NalogZaPrenosRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="NalogZaPrenosResponse">
		<wsdl:part name="parameters" element="nzp:NalogZaPrenosResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="NalogZaPrenos">
		<wsdl:operation name="NalogZaPrenosRequest">
			<wsdl:input name="NalogZaPrenosRequest" message="nzp:NalogZaPrenosRequest">
			</wsdl:input>
			<wsdl:output name="NalogZaPrenosResponse" message="nzp:NalogZaPrenosResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="NalogZaPrenosSOAP" type="nzp:NalogZaPrenos">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NalogZaPrenosRequest">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="NalogZaPrenosRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="NalogZaPrenosResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="NalogZaPrenosServis">
		<wsdl:port name="NalogZaPrenosPort" binding="nzp:NalogZaPrenosSOAP">
			<soap:address location="http://localhost:9000/NalogZaPrenos" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
